head
  title= blogData.title
  meta(name="viewport", content="width=device-width", initial-scale="1")
  //link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.24/spectre.min.css")
  link(rel="stylesheet", href="/css/main.css")