header.navbar.bg-black
  section.navbar-section
    a.btn.btn-link.btn-lg
      i.icon.icon-people
    a.navbar-brand(href="#")= blogData.title
  section.navbar-section
    input.form-input.input-inline(type="text", placeholder="search")
    a.btn.btn-link(href="/") Home
    a.btn.btn-link(href="/admin") Admin